Repository flaport/meow: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: nbstripout
    name: nbstripout
    entry: nbstripout
    language: python
    pass_filenames: true
    types: [jupyter]

  - id: black
    name: black
    entry: black
    language: python
    pass_filenames: true
    types: [python]

sort final eme result ports
  examples/00_introduction.ipynb
  meow/eme/sax.py
Due: nbstripout, black

minor refactoring on calculating material array
  examples/00_introduction.ipynb
  meow/cell.py
  meow/eme/propagate.py
Due: nbstripout, black

move ez_interfaces setting to mesh settings
  examples/00_introduction.ipynb
  meow/cell.py
  meow/mesh.py
Due: nbstripout, black

make eme work for decoupled cross-sections
  examples/00_introduction.ipynb
  meow/cross_section.py
  meow/eme/common.py
  meow/eme/sax.py
  meow/fde/tidy3d.py
  meow/mode.py
  meow/visualize.py
Due: nbstripout, black

make lumerical fde work
  meow/cross_section.py
  meow/fde/lumerical.py
Due: black

add Structure utility function which creates either a Structure2D or a Structure3D depending on the geometry given
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  meow/structures.py
Due: nbstripout, black

fix notebooks
  examples/02_taper_length_sweep.ipynb
  examples/03_unequal_number_of_modes.ipynb
  meow/structures.py
Due: nbstripout, black

make propagation work with decoupled cross-sections
  meow/eme/propagate.py
Due: black

make test notebooks runnable
  tests/nbs/dielectric_interfaces.ipynb
  tests/nbs/dielectric_interfaces2.ipynb
  tests/nbs/meshing_comparison.ipynb
  tests/nbs/mmi.ipynb
  tests/nbs/phase_zero.ipynb
  tests/nbs/poynting_and_area.ipynb
  tests/nbs/propagate.ipynb
  tests/nbs/serialization.ipynb
Due: nbstripout

update .gitignore
  .gitignore
Due: none

update mmi test notebook
  tests/nbs/mmi.ipynb
Due: nbstripout

fix remaining tests
  tests/mode_data.py
  tests/nbs/mmi.ipynb
  tests/nbs/serialization.ipynb
  tests/test_deserialization.py
  tests/test_mode_operators.py
Due: nbstripout, black

Normalize inner_product
  meow/cross_section.py
  meow/eme/sax.py
  meow/port.py
Due: black

update cell docstring
  meow/cell.py
Due: black

Bump version: 0.6.9 → 0.7.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

explicit imports of objects in __init__
  meow/__init__.py
  meow/cell.py
  meow/cross_section.py
  meow/structures.py
  meow/visualize.py
Due: black

Bump version: 0.7.0 → 0.7.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

update to pydantic2
  meow/environment.py
  meow/geometries.py
  meow/materials.py
  pyproject.toml
Due: black

pin pydantic
  .gitignore
  pyproject.toml
Due: none

Bump version: 0.7.1 → 0.7.2
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

bump pydantic to v2 using pydantic.v1
  meow/base_model.py
  meow/cell.py
  meow/cross_section.py
  meow/environment.py
  meow/fde/lumerical.py
  meow/fde/tidy3d.py
  meow/gds_structures.py
  meow/geometries.py
  meow/materials.py
  meow/mesh.py
  meow/mode.py
  meow/structures.py
  pyproject.toml
  tests/nbs/serialization.ipynb
Due: nbstripout, black

fix notebooks
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  examples/02_taper_length_sweep.ipynb
  examples/03_unequal_number_of_modes.ipynb
  pyproject.toml
  tests/nbs/dielectric_interfaces.ipynb
  tests/nbs/dielectric_interfaces2.ipynb
  tests/nbs/meshing_comparison.ipynb
  tests/nbs/mmi.ipynb
  tests/nbs/phase_zero.ipynb
  tests/nbs/poynting_and_area.ipynb
  tests/nbs/propagate.ipynb
  tests/nbs/serialization.ipynb
Due: nbstripout

update dependencies
  .github/workflows/main.yml
  pyproject.toml
Due: none

Bump version: 0.7.2 → 0.7.3
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

bump sax dependency
  meow/eme/propagate.py
  meow/eme/sax.py
  pyproject.toml
Due: black

Bump version: 0.7.3 → 0.8.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

bump tidy3d
  .format.py
  .pre-commit-config.yaml
  pyproject.toml
Due: black

Bump version: 0.8.0 → 0.8.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Adopt new sax backend format
  meow/eme/sax.py
Due: black

fix by manually converting to scoo
  meow/eme/sax.py
Due: black

Deploying to pages from @ flaport/meow@9b0371a27557cae4f669036ea4dea16fae6d008a 🚀
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

pin sax
  pyproject.toml
Due: none

Deploying to pages from @ flaport/meow@307b140d7b54bd6af1fffa98578fb656a2efc9e1 🚀
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

Deploying to pages from @ flaport/meow@4d4bcea83cc92713a19fb682dd3fffd49ef44aa5 🚀
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

Bump version: 0.8.1 → 0.9.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

solve known sax compatibility problem for propagate
  meow/eme/propagate.py
Due: black

works for gdsfactory8
  meow/gds_structures.py
  pyproject.toml
Due: black

fix notebook
  examples/01_gds_taper.ipynb
Due: nbstripout
