Repository flaport/meow: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: nbstripout
    name: nbstripout
    entry: nbstripout
    language: python
    pass_filenames: true
    types: [jupyter]

  - id: black
    name: black
    entry: black
    language: python
    pass_filenames: true
    types: [python]

fix tests
  .pre-commit-config.yaml
  Makefile
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  examples/02_taper_length_sweep.ipynb
  examples/03_unequal_number_of_modes.ipynb
  meow/eme/propagate.py
  meow/gds_structures.py
  meow/visualize.py
  tests/nbs/dielectric_interfaces.ipynb
  tests/nbs/dielectric_interfaces2.ipynb
  tests/nbs/meshing_comparison.ipynb
  tests/nbs/mmi.ipynb
  tests/nbs/phase_zero.ipynb
  tests/nbs/poynting_and_area.ipynb
  tests/nbs/propagate.ipynb
  tests/nbs/serialization.ipynb
Due: nbstripout, black

Bump version: 0.9.0 → 0.10.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@fcbe1b312e8e1622ff9df45f068c2bedb1ab869d 🚀
  .buildinfo
  _modules/index.html
  _modules/meow/base_model.html
  _modules/meow/cache.html
  _modules/meow/cell.html
  _modules/meow/cross_section.html
  _modules/meow/eme/common.html
  _modules/meow/eme/propagate.html
  _modules/meow/eme/sax.html
  _modules/meow/environment.html
  _modules/meow/fde/lumerical.html
  _modules/meow/fde/tidy3d.html
  _modules/meow/gds_structures.html
  _modules/meow/geometries.html
  _modules/meow/integrate.html
  _modules/meow/materials.html
  _modules/meow/mesh.html
  _modules/meow/mode.html
  _modules/meow/structures.html
  _modules/meow/visualize.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  _static/documentation_options.js
  examples.html
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  genindex.html
  index.html
  meow.eme.html
  meow.fde.html
  meow.html
  py-modindex.html
  search.html
  searchindex.js
Due: nbstripout

exclusively support pydantic v2
  meow/__init__.py
  meow/array.py
  meow/base_model.py
  meow/cache.py
  meow/cell.py
  meow/cross_section.py
  meow/eme/propagate.py
  meow/eme/sax.py
  meow/environment.py
  meow/fde/tidy3d.py
  meow/gds_structures.py
  meow/geometries.py
  meow/integrate.py
  meow/materials.py
  meow/mesh.py
  meow/mode.py
  meow/structures.py
  meow/visualize.py
Due: black

improve serialization and caching
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  examples/02_taper_length_sweep.ipynb
  examples/03_unequal_number_of_modes.ipynb
  meow/__init__.py
  meow/array.py
  meow/base_model.py
  meow/cache.py
  meow/eme/common.py
  meow/geometries.py
  meow/materials.py
  meow/structures.py
  pyproject.toml
  tests/nbs/dielectric_interfaces.ipynb
  tests/nbs/dielectric_interfaces2.ipynb
  tests/nbs/meshing_comparison.ipynb
  tests/nbs/mmi.ipynb
  tests/nbs/phase_zero.ipynb
  tests/nbs/poynting_and_area.ipynb
  tests/nbs/propagate.ipynb
  tests/nbs/serialization.ipynb
  tests/nbs/test_cache.ipynb
  tests/nbs/test_schemas.ipynb
Due: nbstripout, black

fix tests
  examples/00_introduction.ipynb
  tests/assets/model.json
  tests/mode_data.py
  tests/nbs/serialization.ipynb
  tests/test_deserialization.py
  tests/test_mode_operators.py
Due: nbstripout, black

update docs
  docs/source/meow.eme.rst
  docs/source/meow.rst
Due: none

Bump version: 0.10.0 → 0.11.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

don't use Self for now
  meow/base_model.py
Due: black

update requirements
  pyproject.toml
Due: none

Deploying to pages from @ flaport/meow@3e9c027d22874995e4cff09a720eaea9641fa9b4 🚀
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.html
  searchindex.js
Due: nbstripout

Update gds_structures.py
  meow/gds_structures.py
Due: black

better equality check
  meow/base_model.py
Due: black

Bump version: 0.11.0 → 0.11.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Bump version: 0.11.1 → 0.11.2
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@53531cc90bbfed80364fff18c254f4f44a84e2d1 🚀
  .buildinfo
  _modules/index.html
  _modules/meow/array.html
  _modules/meow/base_model.html
  _modules/meow/cache.html
  _modules/meow/cell.html
  _modules/meow/cross_section.html
  _modules/meow/eme/common.html
  _modules/meow/eme/propagate.html
  _modules/meow/eme/sax.html
  _modules/meow/environment.html
  _modules/meow/fde/lumerical.html
  _modules/meow/fde/tidy3d.html
  _modules/meow/gds_structures.html
  _modules/meow/geometries.html
  _modules/meow/integrate.html
  _modules/meow/materials.html
  _modules/meow/mesh.html
  _modules/meow/mode.html
  _modules/meow/structures.html
  _modules/meow/visualize.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  _static/documentation_options.js
  examples.html
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  genindex.html
  index.html
  meow.eme.html
  meow.fde.html
  meow.html
  py-modindex.html
  search.html
  searchindex.js
Due: nbstripout

DOC: Documentation additions + nbstripout
  examples/00_introduction.ipynb
Due: nbstripout

Deploying to pages from @ flaport/meow@0d171261daab4dd14e21201fea388bd752a60729 🚀
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.html
  searchindex.js
Due: nbstripout

update to numpy2
  meow/eme/common.py
  meow/materials.py
  meow/mode.py
Due: black

update dependencies
  pyproject.toml
Due: none

Bump version: 0.11.2 → 0.12.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@0994fc6330008389975f0f6a6df1a0d5dcb05386 🚀
  _modules/index.html
  _modules/meow/array.html
  _modules/meow/base_model.html
  _modules/meow/cache.html
  _modules/meow/cell.html
  _modules/meow/cross_section.html
  _modules/meow/eme/common.html
  _modules/meow/eme/propagate.html
  _modules/meow/eme/sax.html
  _modules/meow/environment.html
  _modules/meow/fde/lumerical.html
  _modules/meow/fde/tidy3d.html
  _modules/meow/gds_structures.html
  _modules/meow/geometries.html
  _modules/meow/integrate.html
  _modules/meow/materials.html
  _modules/meow/mesh.html
  _modules/meow/mode.html
  _modules/meow/structures.html
  _modules/meow/visualize.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  _static/documentation_options.js
  examples.html
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  genindex.html
  index.html
  meow.eme.html
  meow.fde.html
  meow.html
  py-modindex.html
  search.html
  searchindex.js
Due: nbstripout

update github ci
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  Makefile
  docs/Makefile
Due: none

update github workflows
  .github/workflows/main.yml
Due: none

update docs Makefile
  docs/Makefile
Due: none

update dependencies
  .gitignore
  pyproject.toml
Due: none

Deploying to pages from @ flaport/meow@775a4f0599f15853a4992b71057c55715a32da10 🚀
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.html
  searchindex.js
Due: nbstripout

Deploying to pages from @ flaport/meow@d26609a39007c743c0cb9a95d5c0974df58d842a 🚀
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.html
  searchindex.js
Due: nbstripout

update github workflows
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

Deploying to pages from @ flaport/meow@2a7d6d51485a12b48dafa383fa34fceef1c26371 🚀
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.html
  searchindex.js
Due: nbstripout

Deploying to pages from @ flaport/meow@ddfae8fa79547fa14e0ae78d69cb377c01f2d517 🚀
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.html
  searchindex.js
Due: nbstripout

update tidyed
  meow/fde/tidy3d.py
  pyproject.toml
Due: black

add precision
  meow/fde/tidy3d.py
Due: black
