Repository flaport/meow: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, black

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python
  pass_filenames: true

black:
  name: black
  entry: black
  language: python
  pass_filenames: true

avoid phase dependence in interfaces
  meow/eme/common.py
  meow/mode.py
  meow/visualize.py
  tests/nbs/phase_zero.ipynb
Due: nbstripout, black

l2r and r2l matrices
  tests/nbs/propagate.ipynb
Due: nbstripout

first propagation attempts
  tests/nbs/propagate.ipynb
Due: nbstripout

visual propagation result
  tests/nbs/propagate.ipynb
Due: nbstripout

Deploying to pages from @ flaport/meow@a4fb2e46d97298c41e9e93a2ed81cdf4bc0be55f 🚀
  _images/0ed97784333917c2e2e269f2f85877cd26331643013f818f169805fc5bca03d0.png
  _images/1dac8fb418c5f11fa1819b7fc7b6e175c42b6b2f3661849946a2e7bff54f8be0.png
  _images/232d006497153e7da3ecf9fd4dec8e41aec1e6ac656d2044cd7ffa994df33f8c.png
  _images/74086c6fe823b18929b8e24353351510a7099844867a721e06979246392dcf01.png
  _images/7eae3bc85d2291b3639febaf15ff2f58c603122efd194e929457f5dd61bad724.png
  _images/83b494e4d999d001e341298272af73a73ee1f5bb962c8324f26627e8e7e4ebed.png
  _images/90312070dcb9679e52b225ecaee97dd09b51cf5ca4ce383cb110f3d545545fd0.png
  _images/abd1f6a88eff1141a5c01daaaac30373e84ff75711c053bb9a692b9361e2b46b.png
  _images/dc41f55f47e007a10dcc41a98fb3c323a22a923ab611f63c9eea31b4d3605616.png
  _images/e1e23bcc4ff616cdf8251b0314baceef4d5791afba3d7d5cf50a9b2274c56ea4.png
  _images/f7b18b5e4bf46b8327fca6a1f070fc750902369fa528261c6d05cc8355ac9a72.png
  _images/ff4c613d21552f6042840a10d43be51c5510107cc123ab0e7efe181dafeb1172.png
  _modules/meow/eme/common.html
  _modules/meow/mode.html
  _modules/meow/visualize.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.eme.html
  searchindex.js
Due: nbstripout

with pre-commit hooks: revert incorrect reciprocity enforcement and set default to not use enforce_reciprocity
  meow/eme/common.py
  meow/eme/sax.py
  meow/mode.py
  meow/visualize.py
  tests/nbs/phase_zero.ipynb
  tests/nbs/propagate.ipynb
Due: nbstripout, black

fix publish workflow
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

Deploying to pages from @ flaport/meow@f94f0250110eb3d65c24b6e964b4d9f6c32a2e33 🚀
  _images/0ed97784333917c2e2e269f2f85877cd26331643013f818f169805fc5bca03d0.png
  _images/1dac8fb418c5f11fa1819b7fc7b6e175c42b6b2f3661849946a2e7bff54f8be0.png
  _images/232d006497153e7da3ecf9fd4dec8e41aec1e6ac656d2044cd7ffa994df33f8c.png
  _images/2fe6fea0548abd34dce442ceda0c5fa66054754673f45bfa4a8947cfe4142c52.png
  _images/3bbb253e028caa48d6bd6750ce8e1d616a4031e0b03e2331136643339da707bd.png
  _images/4c8e81cc2c2d5c051cdc9294ad818cb03651c2194252e0a0973ef1bafdcc05a2.png
  _images/83b494e4d999d001e341298272af73a73ee1f5bb962c8324f26627e8e7e4ebed.png
  _images/90312070dcb9679e52b225ecaee97dd09b51cf5ca4ce383cb110f3d545545fd0.png
  _images/9468a2d9b049cf4c6e25aa29bd3918f7ae42d028cb7b116b8527dbe050a6e224.png
  _images/abd1f6a88eff1141a5c01daaaac30373e84ff75711c053bb9a692b9361e2b46b.png
  _images/bd00ac8fcb1ad971aebf919dbad7542d371e4aa33fe25b8ae51532ed360f6f48.png
  _images/f9c3e47ce66760a8e60b04bc14f92e2ddbab5e66e8b73cb8c4101404653c0c00.png
  _modules/meow/eme/common.html
  _modules/meow/mode.html
  _modules/meow/visualize.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.eme.html
  searchindex.js
Due: nbstripout

allow pml with lumerical fde
  meow/fde/lumerical.py
Due: black

slightly better visualization
  meow/visualize.py
Due: black

fix matrix splitting
  tests/nbs/propagate.ipynb
Due: nbstripout

move propagate guts out of notebook
  meow/eme/propagate.py
  tests/nbs/propagate.ipynb
Due: nbstripout, black

add function to create lumerical geometries
  meow/fde/lumerical.py
Due: black

make some changes to overlap calculation. Validation still pending
  meow/eme/common.py
  meow/mode.py
Due: black

add visualization for multiple modes
  meow/visualize.py
Due: black

allow both inner products, default to conjugate transpose version
  meow/eme/common.py
  meow/mode.py
Due: black

propagate eme flags everywhere and set default values globally
  meow/eme/common.py
  meow/eme/sax.py
  pyproject.toml
Due: black

Bump version: 0.3.5 → 0.3.6
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

fix imports and revert zero_phase function
  meow/fde/lumerical.py
  meow/mode.py
Due: black

Bump version: 0.3.6 → 0.3.7
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

fix some typing issues
  meow/fde/lumerical.py
  meow/geometries.py
  meow/integrate.py
  meow/mode.py
  meow/visualize.py
Due: black

Bump version: 0.3.7 → 0.3.8
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

mmi
  meow/eme/propagate.py
  tests/nbs/mmi.ipynb
Due: nbstripout, black

fall back on gdspy if shapely has difficulties extruding polygon
  meow/gds_structures.py
Due: black

Bump version: 0.3.8 → 0.3.9
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@aa595e228ead4680cda164fc78dd26e5963aec19 🚀
  _images/34ef015504723d7887b418837c7f97d545a7a36e5a245037bc804b9512dfc54d.png
  _images/613fd0defe3923dd3984a117d42ee63ff57f610b6923c2867d4e3f09ed4ab8c0.png
  _images/94c6b1b3a59fb22dcb1feddcccd269e25efea2269542bf3e62b4536cfb96b72d.png
  _images/adfe154a5718e65a3cbfb8e991e716195fdc7be3ff7fcb53d9c45b957602635e.png
  _images/ae7cec7aa729743622834d09151305727d732965cf40e056e65ee779183a04f3.png
  _images/b4f9a43efd2e9c5e3774fa8a2d4801a830d2cc8f3b3e2e4dd5b03499013f1bea.png
  _images/cc2fcd535c9dc535221006719112502c81c4ec2b0e6e4db0ece6bf5b9f2216d6.png
  _images/cf7ef32c2b84238032e7dc99ef6d3b964e4158d2c2b67b8d6c88511a5f973edb.png
  _images/e70da156c46315956977a095dd312f7669216c56cc6033db39d3ba409a64b85f.png
  _images/f812576edd9a13c1e36ac10b539bf872ebdbe2b2eb1c49dd86a0d3ea72f86d82.png
  _images/fc62c9f05307b5d1857b6550c6c27f1f9855cd860afc82fc390a6f79cd1f7fad.png
  _images/ff98c21cae3dbc4fca0cd9058e0034e87146fa810d19336912447b85e9a24327.png
  _modules/meow/gds_structures.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

ignore RuntimeWarnings when doing shapely intersections
  meow/geometries.py
Due: black

Bump version: 0.3.9 → 0.3.10
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

ignore UserWarnings when plotting mode contours
  meow/mode.py
  meow/visualize.py
Due: black

Bump version: 0.3.10 → 0.3.11
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

allow setting bend_radius to None
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  examples/02_taper_length_sweep.ipynb
  examples/03_unequal_number_of_modes.ipynb
  meow/fde/lumerical.py
  meow/fde/tidy3d.py
  meow/mesh.py
Due: nbstripout, black

better auto formatting
  .format.py
  .pre-commit-config.yaml
  Makefile
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  examples/02_taper_length_sweep.ipynb
  examples/03_unequal_number_of_modes.ipynb
  meow/base_model.py
  meow/cell.py
  meow/cross_section.py
  meow/eme/common.py
  meow/eme/sax.py
  meow/fde/lumerical.py
  meow/fde/tidy3d.py
  meow/gds_structures.py
  meow/geometries.py
  meow/materials.py
  meow/mode.py
  meow/structures.py
  meow/visualize.py
  tests/nbs/poynting_and_area.ipynb
  tests/nbs/serialization.ipynb
  tests/test_deserialization.py
  tests/test_mode_operators.py
Due: nbstripout, black

Bump version: 0.3.11 → 0.4.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

default to double precision for tidy3d fde
  meow/fde/tidy3d.py
Due: black

Bump version: 0.4.0 → 0.4.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Path conditions:
  nbstripout: any of: \.ipynb$
  black: any of: \.py$
