Repository flaport/meow: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: nbstripout
    name: nbstripout
    entry: nbstripout
    language: python
    pass_filenames: true
    types: [jupyter]

  - id: black
    name: black
    entry: black
    language: python
    pass_filenames: true
    types: [python]

'Refactored by Sourcery'
  meow/base_model.py
  meow/cell.py
  meow/cross_section.py
  meow/eme/sax.py
  meow/fde/lumerical.py
  meow/gds_structures.py
  meow/geometries.py
  meow/materials.py
  meow/mode.py
Due: black

build docs in ci
  .github/workflows/main.yml
  Dockerfile
  Makefile
  docs/source/conf.py
  environment.yml
  pyproject.toml
Due: black

Add mapbox-earcut dependency (#2)
  environment.yml
  pyproject.toml
Due: none

Deploying to pages from @ flaport/meow@13b0974ce80ed174a9a3443ca94d502a49450c83 🚀
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  searchindex.js
Due: none

update readme
  README.md
  environment.yml
Due: none

Deploying to pages from @ flaport/meow@7e3fa021be67601c2a3ad1924b843589517719bb 🚀
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  searchindex.js
Due: none

Deploying to pages from @ flaport/meow@107a1eb39d00b0935a40af70db621f91aa773d23 🚀
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  index.html
  searchindex.js
Due: none

remove wrong import
  examples/00_introduction.ipynb
Due: nbstripout

docs: fix binder/colab links
  .github/workflows/main.yml
  docs/source/conf.py
Due: black

add publish logic
  .bumpversion.cfg
  .github/workflows/publish.yml
  Makefile
Due: none

fix .bumpversion config
  .bumpversion.cfg
Due: none

fix docs patches
  .github/workflows/main.yml
Due: none

Bump version: 0.0.0 → 0.0.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@338befb8dddab797cd771a151348fa281f634bc2 🚀
  .buildinfo
  _modules/index.html
  _modules/meow/base_model.html
  _modules/meow/cell.html
  _modules/meow/cross_section.html
  _modules/meow/eme/sax.html
  _modules/meow/environment.html
  _modules/meow/fde/lumerical.html
  _modules/meow/fde/tidy3d.html
  _modules/meow/gds_structures.html
  _modules/meow/geometries.html
  _modules/meow/materials.html
  _modules/meow/mesh.html
  _modules/meow/mode.html
  _modules/meow/structures.html
  _modules/meow/visualize.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples.html
  examples/00_introduction.html
  examples/01_gds_taper.html
  genindex.html
  index.html
  meow.eme.html
  meow.fde.html
  meow.html
  modules.html
  py-modindex.html
  search.html
  searchindex.js
Due: none

fix pypi upload
  .github/workflows/publish.yml
Due: none

update readme
  README.md
Due: none

fix broken links in intro notebook
  examples/00_introduction.ipynb
Due: nbstripout

fix serialization/deserialization
  meow/base_model.py
  meow/cell.py
  meow/cross_section.py
  meow/fde/tidy3d.py
  meow/geometries.py
  meow/materials.py
  meow/structures.py
Due: black

add notebook integration tests
  meow/cell.py
  meow/cross_section.py
  tests/nbs/serialization.ipynb
  tests/nbs_exec/00_introduction.ipynb
  tests/nbs_exec/01_gds_taper.ipynb
  tests/nbs_exec/README.md
  tests/test_nbs.py
Due: nbstripout, black

Bump version: 0.0.1 → 0.0.2
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

improve docs
  Makefile
  docs/source/conf.py
  docs/source/examples.md
  docs/source/index.md
  docs/source/meow.eme.rst
  docs/source/meow.fde.rst
  docs/source/meow.rst
  docs/source/modules.rst
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  meow/base_model.py
Due: nbstripout, black

use latest sax version
  environment.yml
  meow/eme/sax.py
Due: black

use latest tidy3d version
  environment.yml
  meow/fde/tidy3d.py
Due: black

more explicit backends
  meow/eme/__init__.py
  meow/eme/common.py
  meow/eme/sax.py
  meow/fde/__init__.py
  meow/fde/lumerical.py
  meow/fde/tidy3d.py
Due: black

Bump version: 0.0.2 → 0.0.3
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

update conda environment file
  environment.yml
Due: none

improve pydantic docs
  docs/source/conf.py
  docs/source/meow.eme.rst
  environment.yml
  meow/cell.py
  meow/cross_section.py
  meow/environment.py
  meow/gds_structures.py
  meow/geometries.py
  meow/materials.py
  meow/mesh.py
  meow/mode.py
  meow/structures.py
Due: black

fix material parsing
  meow/materials.py
Due: black

make te-fraction an easy to access property of a mode.
  meow/mode.py
Due: black

Bump version: 0.0.3 → 0.0.4
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

use correct version of myst_nb
  environment.yml
Due: none

don't track nbs_fail folder
  .gitignore
  tests/nbs_exec/00_introduction.ipynb
  tests/nbs_exec/01_gds_taper.ipynb
  tests/nbs_exec/README.md
Due: nbstripout

remove weird list-inheritance
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  meow/cell.py
  meow/cross_section.py
  meow/eme/common.py
  meow/eme/sax.py
  meow/fde/tidy3d.py
  meow/materials.py
  meow/mesh.py
  meow/structures.py
Due: nbstripout, black

Bump version: 0.0.4 → 0.0.5
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@10e93f9332c4ca58b354a4cc528c69126453b133 🚀
  _modules/meow/cell.html
  _modules/meow/cross_section.html
  _modules/meow/eme/common.html
  _modules/meow/eme/sax.html
  _modules/meow/fde/tidy3d.html
  _modules/meow/materials.html
  _modules/meow/mesh.html
  _modules/meow/structures.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  genindex.html
  meow.eme.html
  meow.html
  objects.inv
  searchindex.js
Due: none

update requirements
  pyproject.toml
Due: none

Bump version: 0.0.5 → 0.0.6
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black
