Repository flaport/meow: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: nbstripout
    name: nbstripout
    entry: nbstripout
    language: python
    pass_filenames: true
    types: [jupyter]

  - id: black
    name: black
    entry: black
    language: python
    pass_filenames: true
    types: [python]

minor cleanup of Material internals
  meow/materials.py
Due: black

add cached_property
  meow/base_model.py
  meow/cell.py
  meow/cross_section.py
  meow/eme/common.py
  meow/mode.py
  meow/structures.py
Due: black

minor updates to notebooks
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  examples/02_taper_length_sweep.ipynb
  examples/03_unequal_number_of_modes.ipynb
  tests/nbs/phase_zero.ipynb
  tests/nbs/poynting_and_area.ipynb
  tests/nbs/serialization.ipynb
Due: nbstripout

Bump version: 0.5.6 → 0.6.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

format notebooks with black
  .pre-commit-config.yaml
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  examples/02_taper_length_sweep.ipynb
  pyproject.toml
  tests/nbs/phase_zero.ipynb
  tests/nbs/poynting_and_area.ipynb
  tests/nbs/serialization.ipynb
Due: nbstripout

Deploying to pages from @ flaport/meow@914508e9f3ecb4ccd492fff88ae02d248cf2f1dd 🚀
  _images/0e55c91bb6ad87741e2d2d5bc30816ea525141e20ca0aa19ca92ac211ceedcf8.png
  _images/2802b80b08c90193625e19ad98d189d5a0a57d9f7d3a4ee684b694da8b6dc5df.png
  _images/321b3414820b772ab983ae34b7592ddbbda10382d191d03b5529ce3d87f63903.png
  _images/3b43b9c8b76dc2c4b496595f3687cd2cdc3bf5dc41896c2cbbac5410ee1f4e9c.png
  _images/462b7365f968a4d6f00f2a9504aec0e40483540810a27aa23ba1973ddf61aa44.png
  _images/820640c3fc6802052c4b6bb6cef87deb396f4674714e7725dd461a1853e14fe1.png
  _images/8486a6389b2555644211cfcf251f92e80ab3c333c1d53c1041469b877588fc7d.png
  _images/a7b9e9f743f89b82b98267701d2214bf42d8c9621449caa40f2126a4c734bf0f.png
  _images/de70bc05895138de8c783e052b3c5ac58212c1de03990cdceba14dc8b22d9eb3.png
  _images/e2f9681bad0351aa915cd87b065f013bafd4be4dc4fc5da030cb6dac32fd6d64.png
  _images/e3bd674b7ab3f7c7e5f70094bbb38b34f213cf6d2f989a14eb9b233fa27bcbaf.png
  _images/f8faa82e1b2418865c4c4eeab610b9420383a1ec5cc53ea9fcc52c8d7a8a992a.png
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

better meshing implementation
  examples/01_gds_taper.ipynb
  meow/cell.py
  meow/cross_section.py
  meow/fde/lumerical.py
  meow/fde/tidy3d.py
  meow/geometries.py
  meow/mesh.py
  meow/mode.py
  meow/visualize.py
  pyproject.toml
  tests/nbs/poynting_and_area.ipynb
Due: nbstripout, black

allow forcing Ez on dielectric boundaries
  meow/cross_section.py
  meow/mesh.py
  meow/mode.py
  tests/nbs/dielectric_interfaces.ipynb
Due: nbstripout, black

minor visualization tweaks
  meow/mode.py
  meow/visualize.py
Due: black

update test notebook
  tests/nbs/dielectric_interfaces.ipynb
Due: nbstripout

fix lumerical field extraction
  meow/fde/lumerical.py
Due: black

Deploying to pages from @ flaport/meow@7fbf528efe4fd310d6e26a917104bd30c12da5e0 🚀
  _images/08290d6a5bda006eb601b6c54bec7cba166832968e76fb4b4e0523b21da75fba.png
  _images/0a1c664d2698856b6018d94abf4258f60ea669946633165b0634b6186fc13f06.png
  _images/2f23bb0ffd1d9774fa68af4283a1b042dcb2669d93af9069d1543b2abca72af9.png
  _images/5912df8f38612e10215040492c21647d5fa990a4b7e253c949ef097fe0ef2b40.png
  _images/6f8fbc6cc1660553350f072fff3c70fcc4e9673c1ac33826039052648fe4a064.png
  _images/841734e04348c6a1bae1c0c8703b6cbfa749bdfcb9511da167dad0f6f279a22b.png
  _images/904e75030758d06db6e865b217114bbb444b52e7a52efbe1ba23d76616031cc2.png
  _images/a6b9d64ec361ecc4334d17d1e4b94f755e31679fe1c6b898df255dc2a3a9a52a.png
  _images/b4efa7976d9677ce9a17ea2f7ad9770461a5fc66570588e636ba89975079083f.png
  _images/babe091423d628cfaff1c44b42686c9d2dfdee40c5cd8b78409885fb579ea86e.png
  _images/f0cc991c90dd9dbd2dad9bb58b37fe0d21c335f8f5bcbe74738ce078d738d38c.png
  _images/f1a09fa6128a2f5a212baa63d7d0ed0cb7b7f09f8b41aa5db6b16351aa0f66ed.png
  _modules/meow/fde/lumerical.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

updates to better meshing notebook
  tests/nbs/dielectric_interfaces.ipynb
Due: nbstripout

Deploying to pages from @ flaport/meow@15db0077397f960b841038d2ba5572b89ae3e9f0 🚀
  _images/08290d6a5bda006eb601b6c54bec7cba166832968e76fb4b4e0523b21da75fba.png
  _images/37db58a201c4986b476d100ce066ee8b9958760e5f781ecdcdb6e1045dc5e2f3.png
  _images/674100ea2b4db5edd8839cbe0612ece58a6e13405dd101dfc3858dd6e3016320.png
  _images/6f8fbc6cc1660553350f072fff3c70fcc4e9673c1ac33826039052648fe4a064.png
  _images/841734e04348c6a1bae1c0c8703b6cbfa749bdfcb9511da167dad0f6f279a22b.png
  _images/8cd11451d34fea966b63388e1737ca05c250728dab85aa81e3ba2b6abf897609.png
  _images/904e75030758d06db6e865b217114bbb444b52e7a52efbe1ba23d76616031cc2.png
  _images/a47bdabed3db1ea1767c9e8e7e0d896745b3a7447e003bb4ce02c7ce2dcb9a32.png
  _images/a6b9d64ec361ecc4334d17d1e4b94f755e31679fe1c6b898df255dc2a3a9a52a.png
  _images/b4efa7976d9677ce9a17ea2f7ad9770461a5fc66570588e636ba89975079083f.png
  _images/c41f1dacc8d8bf148a9fe0db64cda14d93e7b61e9d66d45053141df229859ec6.png
  _images/eb3d070a9a39156782301ac45ec358d70d29728957e9926a8af05a9502ae9876.png
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

update .gitignore
  .gitignore
Due: none

Deploying to pages from @ flaport/meow@0d3c516af2ca2cb0edf60e59dadb8ad986669e7c 🚀
  _images/28f9fd2710c600125cb0e4de6cf9a49a3048efb6526b770d31180444d38f0dfa.png
  _images/37db58a201c4986b476d100ce066ee8b9958760e5f781ecdcdb6e1045dc5e2f3.png
  _images/4fd78853baa2f4f1eb58429e6f7ed3cb0a3d2d68fb4b454e55e1e1b8c2e4e940.png
  _images/674100ea2b4db5edd8839cbe0612ece58a6e13405dd101dfc3858dd6e3016320.png
  _images/8cd11451d34fea966b63388e1737ca05c250728dab85aa81e3ba2b6abf897609.png
  _images/a47bdabed3db1ea1767c9e8e7e0d896745b3a7447e003bb4ce02c7ce2dcb9a32.png
  _images/b241758c4b276f79396ddb9693e092259655e9e82ce37e07453b0682fb8c3a80.png
  _images/be96f9d3af3295ed1a83ceb9a16039023a9977ff619f2d29395180ba672e767f.png
  _images/c41f1dacc8d8bf148a9fe0db64cda14d93e7b61e9d66d45053141df229859ec6.png
  _images/d68cf57409ca211f993f54505634da91a3b06906ff96f112b09a608e8378e4ec.png
  _images/eb3d070a9a39156782301ac45ec358d70d29728957e9926a8af05a9502ae9876.png
  _images/f8a4621230d79c4bc1e6ace52b0a9473d75c4ff8c1a25c33eb5d40848444610f.png
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

Deploying to pages from @ flaport/meow@8566aabcb55b09e0e7e41284c559a341752d2a77 🚀
  _images/0eddeb59c62882a781cff08b51acb5f49129fd415e531ad22c2f96a1d797a9ba.png
  _images/25cfa1d5b303490dd24c2e7a3bf08d7af1f81da8f5191b6beea540f96b6d2f36.png
  _images/28f9fd2710c600125cb0e4de6cf9a49a3048efb6526b770d31180444d38f0dfa.png
  _images/4fd78853baa2f4f1eb58429e6f7ed3cb0a3d2d68fb4b454e55e1e1b8c2e4e940.png
  _images/5349a705d8e090d308232f5e20a078fa695fe2d7f1bc629361ff3bee074d0d98.png
  _images/55958cc400c489a880c03229d59f0b42d87efd6f3ec8f91e121e9e7981e1f4ad.png
  _images/59c771f2ed805cfefd5c41b422109faa993be9b2430421facfd0b91ddcfcd1b8.png
  _images/707c9663e9ba3131d2270e7ef0069518c61e6fde94b165de60d61e2d7556872c.png
  _images/b241758c4b276f79396ddb9693e092259655e9e82ce37e07453b0682fb8c3a80.png
  _images/be96f9d3af3295ed1a83ceb9a16039023a9977ff619f2d29395180ba672e767f.png
  _images/d68cf57409ca211f993f54505634da91a3b06906ff96f112b09a608e8378e4ec.png
  _images/f8a4621230d79c4bc1e6ace52b0a9473d75c4ff8c1a25c33eb5d40848444610f.png
  _modules/meow/fde/tidy3d.html
  _modules/meow/mode.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.fde.html
  meow.html
  searchindex.js
Due: nbstripout

update parameter naming for PML filtering
  meow/fde/tidy3d.py
  meow/mode.py
Due: black

Bump version: 0.6.0 → 0.6.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@5820ea6ed97649d6c718bb1aca22c03fe2729533 🚀
  _images/0eddeb59c62882a781cff08b51acb5f49129fd415e531ad22c2f96a1d797a9ba.png
  _images/20211f6459524fc7b8585746cc9e96d2fd59fcd4b4eefd28d819c50763a0672d.png
  _images/25cfa1d5b303490dd24c2e7a3bf08d7af1f81da8f5191b6beea540f96b6d2f36.png
  _images/38f827a3d78d15020f0ce72d8bb5ebdd696ab2967dff1e7253c0ac93918cec9c.png
  _images/48f7e6092adb65bea04d7328f442291991afd47c5b187618c79a802a192f2660.png
  _images/5349a705d8e090d308232f5e20a078fa695fe2d7f1bc629361ff3bee074d0d98.png
  _images/59c771f2ed805cfefd5c41b422109faa993be9b2430421facfd0b91ddcfcd1b8.png
  _images/707c9663e9ba3131d2270e7ef0069518c61e6fde94b165de60d61e2d7556872c.png
  _images/d7e4277c764b1bc82292df5d2b9536b07ea0f2081d65582b04a14e8d8d620058.png
  _images/ef117ddb772d62624862ff361a4d8d5622ebbe2fa559284171bc20031a823799.png
  _modules/meow/fde/tidy3d.html
  _modules/meow/mode.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.fde.html
  meow.html
  searchindex.js
Due: nbstripout

Deploying to pages from @ flaport/meow@cfb2755aaa13fde54c0158f24a1c399984e6ed4b 🚀
  _images/20211f6459524fc7b8585746cc9e96d2fd59fcd4b4eefd28d819c50763a0672d.png
  _images/38f827a3d78d15020f0ce72d8bb5ebdd696ab2967dff1e7253c0ac93918cec9c.png
  _images/38fe6a98a03c686122ce8ef43e701da580de6214e0bd11644d69131c03f0494f.png
  _images/48f7e6092adb65bea04d7328f442291991afd47c5b187618c79a802a192f2660.png
  _images/55958cc400c489a880c03229d59f0b42d87efd6f3ec8f91e121e9e7981e1f4ad.png
  _images/8f89c92707772aa344802966db070bbb3f11d175b67a63d54bb99eda03d98d36.png
  _images/906e806533373b3d4dbd207af7505c11f659799d0c943bf248f962a66cdf8f46.png
  _images/924ed35d9876567aca0fd8e068674d4f983c313018db0e0dcbb8decc9bbf8c87.png
  _images/9ffac7f53d0b8c1d0ae3ebc376f8ce7d9363f2465aada9a2d6d2679d5bcf4baf.png
  _images/cddc518ab58dd5177094a84306424e2a3bfa35260eb744b2f500da19af1fdb91.png
  _images/d7e4277c764b1bc82292df5d2b9536b07ea0f2081d65582b04a14e8d8d620058.png
  _images/ef117ddb772d62624862ff361a4d8d5622ebbe2fa559284171bc20031a823799.png
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

proper mesh locations
  meow/mesh.py
  meow/mode.py
Due: black

Bump version: 0.6.1 → 0.6.2
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

add lumerical dielectric interfaces
  tests/nbs/dielectric_interfaces_lumerical.ipynb
Due: nbstripout

add field interpolation
  meow/mode.py
Due: black

Bump version: 0.6.2 → 0.6.3
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@a0bbca3fc3ad974e560ea96b54cad8b75a6cb382 🚀
  _images/090b00c4414bda07acc527baf5cadff3439fd82cc447a257ab19205910e9d3cf.png
  _images/498642674e40dc0f98fb5e40ca7b8c5e3bea53f728bd15243695042ba00c7632.png
  _images/4d530da704d410efeedb500b9e70d55020f004c08e0cf407a522eafafff8aeef.png
  _images/56488be62731c8c5d58cedca5e145b5a346974304ed82af301e29b5dc131826b.png
  _images/6497702f6cd9382f9952a506170caadbc4bc45813b51421c379d00a3f5561501.png
  _images/6f646178986a6b0d6129f31cc76ab992257bd9d4f05e9d62c4deaffa4de7ef6d.png
  _images/83a3964b6d2eea7fd9b04c87b3a8b060436ad2ee77f6ebfb75fc55089d0e6e7c.png
  _images/87266955c89ccd747150114d5bad3cc3214a4a606bad9f334b3a8283c8954f38.png
  _images/8d722a2563aa05640d007918d228b38adb173bc11d720425f1e8fbb812a266b6.png
  _images/99981f5c80b5cce44ac444b4573fb4ef135f847ced72a335ab614d775234a6d3.png
  _images/dd5432657156e747e83293fd7e21c39e85a1fb992daeb69f2e17aa8d278087bf.png
  _images/f54dd05df5c71ac7959ba51020874cd5d4733ec7e9dac8df06c6fabb0c1a2f51.png
  _modules/meow/eme/common.html
  _modules/meow/eme/sax.html
  _modules/meow/fde/tidy3d.html
  _modules/meow/mesh.html
  _modules/meow/mode.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  meow.eme.html
  meow.fde.html
  meow.html
  searchindex.js
Due: nbstripout

Use `Optional` instead of `|` to maintain compatibility to python<3.10
  meow/eme/common.py
  meow/eme/sax.py
  meow/fde/tidy3d.py
  meow/mesh.py
  meow/mode.py
  meow/visualize.py
Due: black

Deploying to pages from @ flaport/meow@03eee674780abe9c00b0715eafd4c2a6c8044f21 🚀
  _images/090b00c4414bda07acc527baf5cadff3439fd82cc447a257ab19205910e9d3cf.png
  _images/56488be62731c8c5d58cedca5e145b5a346974304ed82af301e29b5dc131826b.png
  _images/785d7af860c73bff1add6a85788510f8ec4f5159668913a3255e3bf77e6e2a1d.png
  _images/83a3964b6d2eea7fd9b04c87b3a8b060436ad2ee77f6ebfb75fc55089d0e6e7c.png
  _images/8d722a2563aa05640d007918d228b38adb173bc11d720425f1e8fbb812a266b6.png
  _images/99981f5c80b5cce44ac444b4573fb4ef135f847ced72a335ab614d775234a6d3.png
  _images/b79afc3ca653b9e5e28de1734cb2a4130525ceb33242331919892dce6f85dada.png
  _images/dd5432657156e747e83293fd7e21c39e85a1fb992daeb69f2e17aa8d278087bf.png
  _images/f7afe3f0fac40501a6c703d8c21205d5e8f4915855a541a8587997970fc862f8.png
  _images/f90a1b01a0c334aaa784db3542d7bc4dab1ebe2b0adb0a05a40a2bad013b18a0.png
  _images/fac464afd239885d331b41b1b461097fb1544c68e1184716ba8806fb785537a5.png
  _images/ffe6523f401a74c68888efcc8c14f4f71f9a0f050a206a7686ea4b743aafd16f.png
  _modules/meow/eme/sax.html
  _modules/meow/mesh.html
  _modules/meow/mode.html
  _modules/meow/visualize.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

Tolerance to klu not being present
  meow/eme/propagate.py
  tests/nbs/propagate.ipynb
Due: nbstripout, black

Add support for tidy3d materials
  meow/materials.py
  tests/nbs/phase_zero.ipynb
Due: nbstripout, black

Add support for tidy3d materials
  meow/materials.py
Due: black

Deploying to pages from @ flaport/meow@c94ab73d937f4c47475ede0ee6868d3ecf41416b 🚀
  _images/10faffae002bd6b425d4d39ef48468d79b688559ef401c22d9da7c873c3f1b57.png
  _images/4a1d0ef85d3d82f4cf2177e8640d87708986ce98c4d70943b31f0822a22856ca.png
  _images/785d7af860c73bff1add6a85788510f8ec4f5159668913a3255e3bf77e6e2a1d.png
  _images/786b2b13c8e1e42155d0bf7218fc6f21b4812da7640b5c2806ffce8a3cd095c0.png
  _images/a7b9577e3003a5b0db681f7edc5ece790cbbe2bc109d84c4696e3702e78536a3.png
  _images/b79afc3ca653b9e5e28de1734cb2a4130525ceb33242331919892dce6f85dada.png
  _images/c52dd1895b8870508be4663f5efa94e33bd381e98e0c3f8aa0725e3c08b3a214.png
  _images/edd42fef93c3b601f20e0e3ed3bed7373512df48b43b1790250b0311805b558e.png
  _images/f7afe3f0fac40501a6c703d8c21205d5e8f4915855a541a8587997970fc862f8.png
  _images/f90a1b01a0c334aaa784db3542d7bc4dab1ebe2b0adb0a05a40a2bad013b18a0.png
  _images/fac464afd239885d331b41b1b461097fb1544c68e1184716ba8806fb785537a5.png
  _images/ffe6523f401a74c68888efcc8c14f4f71f9a0f050a206a7686ea4b743aafd16f.png
  _modules/meow/materials.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  genindex.html
  meow.html
  objects.inv
  searchindex.js
Due: nbstripout

Deploying to pages from @ flaport/meow@832ade6559bf2373f379a37c8b33d1da63cd3eb2 🚀
  _images/0974a587ff905a5adf5dd910371a90584f5a665081c856561ecf65f9c9eb3063.png
  _images/10faffae002bd6b425d4d39ef48468d79b688559ef401c22d9da7c873c3f1b57.png
  _images/1357125c0784476af537f744e621f1f76fe0ff19a0509bc7bd9a7aa543fe89ff.png
  _images/160de53895b0fc6bdc1d9a866d13b5b1a305cdffc80de06610d05b861b336ec7.png
  _images/4a1d0ef85d3d82f4cf2177e8640d87708986ce98c4d70943b31f0822a22856ca.png
  _images/4b41286d3a1019ecce3402eb632adcf2892ac897001b0ee8f81fb858c4024b0f.png
  _images/786b2b13c8e1e42155d0bf7218fc6f21b4812da7640b5c2806ffce8a3cd095c0.png
  _images/a30174fac3855c2508568ceac1fe278e820b3b522ed19c4969878fe815d08c90.png
  _images/a7b9577e3003a5b0db681f7edc5ece790cbbe2bc109d84c4696e3702e78536a3.png
  _images/c52dd1895b8870508be4663f5efa94e33bd381e98e0c3f8aa0725e3c08b3a214.png
  _images/ca702d902a85b96ebe2cd5b3b19781cbe5a670dede1d0a2198fa82ae4c4c1b27.png
  _images/edd42fef93c3b601f20e0e3ed3bed7373512df48b43b1790250b0311805b558e.png
  _modules/meow/materials.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  genindex.html
  meow.html
  objects.inv
  searchindex.js
Due: nbstripout
