Repository flaport/meow: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: nbstripout
    name: nbstripout
    entry: nbstripout
    language: python
    pass_filenames: true
    types: [jupyter]

  - id: black
    name: black
    entry: black
    language: python
    pass_filenames: true
    types: [python]

Deploying to pages from @ flaport/meow@ddd3b0c757504f69a96bd50068367358450072f1 🚀
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  searchindex.js
Due: none

fix multi-dimensional material parsing
  meow/materials.py
Due: black

Bump version: 0.0.6 → 0.0.7
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@24498920041e7924c54aea7591b85348c18f54c0 🚀
  _modules/meow/materials.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  searchindex.js
Due: none

ensure models have json schema
  meow/base_model.py
  tests/nbs/serialization.ipynb
Due: nbstripout, black

Bump version: 0.0.7 → 0.0.8
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

fix float format
  meow/mode.py
Due: black

Deploying to pages from @ flaport/meow@a7a0465702baca60ab10c5327e765e6e30588d81 🚀
  _modules/meow/base_model.html
  _modules/meow/mode.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  meow.html
  searchindex.js
Due: none

keep derived variables truly hidden
  meow/cell.py
  meow/cross_section.py
  meow/mesh.py
  meow/structures.py
  meow/visualize.py
  tests/nbs/serialization.ipynb
  tests/test_nbs.py
Due: nbstripout, black

Bump version: 0.0.8 → 0.0.9
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@b193295578b6aa1da44398f70f43420537191571 🚀
  _modules/meow/cell.html
  _modules/meow/cross_section.html
  _modules/meow/mesh.html
  _modules/meow/structures.html
  _modules/meow/visualize.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  genindex.html
  meow.html
  objects.inv
  searchindex.js
Due: none

improve serialization again
  meow/cell.py
  meow/cross_section.py
  tests/nbs/serialization.ipynb
Due: nbstripout, black

Bump version: 0.0.9 → 0.0.10
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@28433fe47439de699088aee25e53d614bc11808d 🚀
  _modules/meow/cell.html
  _modules/meow/cross_section.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  genindex.html
  meow.html
  objects.inv
  searchindex.js
Due: none

specify conformal settings as part of mesh settings
  examples/00_introduction.ipynb
  meow/cross_section.py
  meow/fde/lumerical.py
  meow/fde/tidy3d.py
  meow/mesh.py
Due: nbstripout, black

Bump version: 0.0.10 → 0.1.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

introduce a cache
  .gitignore
  meow/base_model.py
  meow/cache.py
  meow/cell.py
  meow/cross_section.py
  meow/materials.py
Due: black

disable cache by default
  meow/cache.py
Due: black

Bump version: 0.1.0 → 0.1.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@87b3fa868854c56d1e9da23acf9b76e8252551d3 🚀
  _images/21697445e2522dcc1977bd70a19713e881c078faf3dfe6e40146ded71fe84fce.png
  _images/e2c6058f9a61e7a3c7713646690c803d8242fab17b525ceebcc4cb8c885c4cdf.png
  _images/f74aacc16180752da315647643773e9ba972c692267a508ad8ae638477bc8c93.png
  _images/ff39f73dcc9df51385000ab3814d2521b53fea7cb7f1d4bece85296d23ae578f.png
  _modules/index.html
  _modules/meow/base_model.html
  _modules/meow/cache.html
  _modules/meow/cell.html
  _modules/meow/cross_section.html
  _modules/meow/fde/lumerical.html
  _modules/meow/fde/tidy3d.html
  _modules/meow/materials.html
  _modules/meow/mesh.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/meow.rst.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  genindex.html
  meow.fde.html
  meow.html
  objects.inv
  py-modindex.html
  searchindex.js
Due: none

enable cache by default
  meow/cache.py
Due: black

don't sort modes by default
  meow/eme/sax.py
Due: black

Bump version: 0.1.1 → 0.1.2
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@77fbddb43763597f1981bcc16fb06fc66225910f 🚀
  _modules/meow/cache.html
  _modules/meow/eme/sax.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  searchindex.js
Due: none

fix complex number deserialization
  meow/base_model.py
  tests/test_deserialization.py
Due: black

Bump version: 0.1.2 → 0.1.3
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@438c434be7ee9317b1e63762db9cfa753d7b0c7d 🚀
  _modules/meow/base_model.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  searchindex.js
Due: none

fix array hash
  meow/base_model.py
Due: black

add taper length sweep example
  examples/02_taper_length_sweep.ipynb
Due: nbstripout

Deploying to pages from @ flaport/meow@18f84a7004aef2b0f046b7aee6344c0b361fdb5e 🚀
  _images/5ab248f9c25fa3963ff06dc77f946e276fd7d2c3ce102a8db6b5aec76007bade.png
  _images/bb34660d30b403d36379291d0f76401fcd5978f5e5f45badf7335aed3e3eada5.png
  _images/c03face1da63ada3042f907b4c1380139c774e7d4924618835fa54f3bba1a953.png
  _images/da6f8b87aad485bbab3c2f7c64d86640786638725359bc39cb989a87af0e5d1b.png
  _modules/meow/base_model.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  objects.inv
  searchindex.js
Due: none

fix cache deletion for threaded applications
  meow/cache.py
Due: black

remove gdspy dependency
  environment.yml
  meow/gds_structures.py
  pyproject.toml
Due: black

switch from tidy3d-beta to tidy3d
  environment.yml
Due: none

Deploying to pages from @ flaport/meow@669dbda98e59b80d5f407ae92e77556c431c97eb 🚀
  _modules/meow/mode.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  genindex.html
  meow.html
  objects.inv
  searchindex.js
Due: none

fix dependencies and tests
  environment.yml
  tests/test_deserialization.py
Due: black

Deploying to pages from @ flaport/meow@ab4caa99e0b8d93aaea3d46761e6d65497a0fe22 🚀
  _modules/meow/cache.html
  _modules/meow/gds_structures.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  meow.html
  searchindex.js
Due: none

Add mode area calculation (and integration util)
  meow/integrate.py
  meow/mode.py
  tests/nbs/poynting_and_area.ipynb
Due: nbstripout, black

Deploying to pages from @ flaport/meow@ca9014f08c3b1f31e949701062a1a1be047888c9 🚀
  _modules/index.html
  _modules/meow/integrate.html
  _modules/meow/mode.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  _sources/meow.rst.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  genindex.html
  meow.html
  objects.inv
  py-modindex.html
  searchindex.js
Due: none

eme: workaround for bug in sax multimode
  meow/base_model.py
  meow/eme/sax.py
  meow/materials.py
  meow/mode.py
Due: black

Bump version: 0.1.3 → 0.1.4
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black
