Repository flaport/meow: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, black

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python
  pass_filenames: true

black:
  name: black
  entry: black
  language: python
  pass_filenames: true

Deploying to pages from @ flaport/meow@56145b7528e5773f27b6c38750688f562acb9606 🚀
  _images/0974a587ff905a5adf5dd910371a90584f5a665081c856561ecf65f9c9eb3063.png
  _images/1357125c0784476af537f744e621f1f76fe0ff19a0509bc7bd9a7aa543fe89ff.png
  _images/160de53895b0fc6bdc1d9a866d13b5b1a305cdffc80de06610d05b861b336ec7.png
  _images/4b41286d3a1019ecce3402eb632adcf2892ac897001b0ee8f81fb858c4024b0f.png
  _images/541c25ceede8401da2caeba9f3426ca7f67c655b54d74144829e8063ca4fb88d.png
  _images/969e0e874e50211c1843f6ec94d162acac44bd0de3815b8213fb47f197298292.png
  _images/a30174fac3855c2508568ceac1fe278e820b3b522ed19c4969878fe815d08c90.png
  _images/a7b9e9f743f89b82b98267701d2214bf42d8c9621449caa40f2126a4c734bf0f.png
  _images/b26e86f3be99693ac40e0b24d4be77d0e2e98a3b77fbbbda0b94fcf074a8492d.png
  _images/bd068ec10338e4a06e82ccf9c20f44f1b2fcd152ad1c1cb7008c11aa4b55946c.png
  _images/ca702d902a85b96ebe2cd5b3b19781cbe5a670dede1d0a2198fa82ae4c4c1b27.png
  _images/fd1ef61b8ef61785a68e76819e4b52231cbaad828273e31cce3cf54477022d22.png
  _modules/meow/materials.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  genindex.html
  meow.html
  objects.inv
  searchindex.js
Due: nbstripout

make type checker happy
  meow/materials.py
  tests/nbs/dielectric_interfaces.ipynb
  tests/nbs/meshing_comparison.ipynb
Due: nbstripout, black

Deploying to pages from @ flaport/meow@96197c5929a57c0a4dd3268b28aa93f2baaceee8 🚀
  _images/17b5350b8efe5144636808209761049785c6f5572bbb7a1ea499b0cd0005a079.png
  _images/20e3281e94e0c2e17bd120dd72ffe352c9bc158e050ad9b7f7d0ae196659dc7c.png
  _images/32fc22dba890844c8170cac57336b138311a3d8bf5d47bd856ac2c60cf1a4fb1.png
  _images/541c25ceede8401da2caeba9f3426ca7f67c655b54d74144829e8063ca4fb88d.png
  _images/969e0e874e50211c1843f6ec94d162acac44bd0de3815b8213fb47f197298292.png
  _images/99981f5c80b5cce44ac444b4573fb4ef135f847ced72a335ab614d775234a6d3.png
  _images/a7b9e9f743f89b82b98267701d2214bf42d8c9621449caa40f2126a4c734bf0f.png
  _images/ad5c024ef1836abcabd6f55d127902342c24e7deb72e5c7e34edd39369fe12ce.png
  _images/b26e86f3be99693ac40e0b24d4be77d0e2e98a3b77fbbbda0b94fcf074a8492d.png
  _images/bd068ec10338e4a06e82ccf9c20f44f1b2fcd152ad1c1cb7008c11aa4b55946c.png
  _images/bfa08dee94e5a158ece25d271db97c0a120354a884c48baa0e1252f9e4fc7d34.png
  _images/fd1ef61b8ef61785a68e76819e4b52231cbaad828273e31cce3cf54477022d22.png
  _modules/meow/materials.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

add edge case for better meshing
  meow/cross_section.py
  tests/nbs/dielectric_interfaces.ipynb
Due: nbstripout, black

Bump version: 0.6.3 → 0.6.4
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@41cfdd41dc32cd9631fbbbb19de98414df91182c 🚀
  _images/063d4557fc82cafcf94592c40cb713e8faf17b566c63dfc145c272af7f007378.png
  _images/17b5350b8efe5144636808209761049785c6f5572bbb7a1ea499b0cd0005a079.png
  _images/20e3281e94e0c2e17bd120dd72ffe352c9bc158e050ad9b7f7d0ae196659dc7c.png
  _images/32fc22dba890844c8170cac57336b138311a3d8bf5d47bd856ac2c60cf1a4fb1.png
  _images/46397344e0198a68bdb7ac03d81e70bd898b2f558a8dba59cc34fe98dad1a6c7.png
  _images/88ee9b8fc01e56eb07072dcaa662c52a998599217abe92c43a6acc1d157baecf.png
  _images/8d892ca86f70ee32002c730d93debeba0e4285367ce5c5b737c205ab9b2b91bd.png
  _images/99981f5c80b5cce44ac444b4573fb4ef135f847ced72a335ab614d775234a6d3.png
  _images/aba42e8f700a3282c1c8a834709c3030523f535b49eaabc2033c4036aed9249c.png
  _images/ad5c024ef1836abcabd6f55d127902342c24e7deb72e5c7e34edd39369fe12ce.png
  _images/bfa08dee94e5a158ece25d271db97c0a120354a884c48baa0e1252f9e4fc7d34.png
  _images/debb2473019483533b2a721408d88fbfe360cc596b5f5303c9799b58cd0d4e58.png
  _modules/meow/cross_section.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

improve code
  .format.py
  meow/__init__.py
  meow/base_model.py
  meow/cell.py
  meow/cross_section.py
  meow/eme/sax.py
  meow/geometries.py
  meow/mode.py
Due: black

fix material serialization/deserialization
  meow/materials.py
  meow/mesh.py
Due: black

Bump version: 0.6.4 → 0.6.5
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@e33ce2ba61679816b5b69b0b3b0c87c8b8b25d87 🚀
  _images/07f3c795bd759b2f5c6edc59cfe88f51c5f1814ed8ab390a0f8ede1423667d26.png
  _images/1b78afd435f6dc616f4601524313b149f0a184d0b0e8a87a729605393fea465e.png
  _images/27e77599efda47ba6b1a014eceffc8e9491f1746b5d01c1d44e4d0036a12c499.png
  _images/447aa0ff22fe88e00be78493c50831ebe263f0691a09aa03a4eb21f05d0d0bc9.png
  _images/498642674e40dc0f98fb5e40ca7b8c5e3bea53f728bd15243695042ba00c7632.png
  _images/4d530da704d410efeedb500b9e70d55020f004c08e0cf407a522eafafff8aeef.png
  _images/5f8d9f3318de12a36a159e69114a04a30e3f25e5b7cae92a884d7b7f6437df63.png
  _images/78d87af17084820a88578cde3088518175dbff7a9cdcff58e2538206667774b9.png
  _images/7ff859bfc4bffd23fd43bc035b49bce7ff035a9f851386c5870186aeeb5bfa5a.png
  _images/a1eff77936fda534200b3345d40165c5633dbd92ccdb7c4490c193e36aa63aaf.png
  _images/a5c1f66fc2a29b29ec2891481167d649e29e447b62874190278b442d9aef9085.png
  _images/e2f9681bad0351aa915cd87b065f013bafd4be4dc4fc5da030cb6dac32fd6d64.png
  _modules/index.html
  _modules/meow/eme/common.html
  _modules/meow/eme/propagate.html
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  _sources/meow.eme.rst
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  genindex.html
  meow.eme.html
  objects.inv
  py-modindex.html
  searchindex.js
Due: nbstripout

fix some meshing issues and normalize modes properly
  meow/cross_section.py
  meow/eme/common.py
  meow/eme/sax.py
  meow/fde/lumerical.py
  meow/fde/tidy3d.py
  meow/geometries.py
  tests/nbs/dielectric_interfaces2.ipynb
Due: nbstripout, black

Bump version: 0.6.5 → 0.6.6
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

Bump version: 0.6.6 → 0.6.7
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

fix Pointing field plot
  meow/mode.py
Due: black

improve ez boundaries by including them into Cell in stead of CrossSection
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  examples/02_taper_length_sweep.ipynb
  examples/03_unequal_number_of_modes.ipynb
  meow/cell.py
  meow/cross_section.py
  meow/geometries.py
  meow/structures.py
  tests/nbs/dielectric_interfaces.ipynb
  tests/nbs/dielectric_interfaces2.ipynb
  tests/nbs/meshing_comparison.ipynb
  tests/nbs/mmi.ipynb
  tests/nbs/phase_zero.ipynb
  tests/nbs/poynting_and_area.ipynb
  tests/nbs/propagate.ipynb
  tests/nbs/serialization.ipynb
  tests/test_deserialization.py
  tests/test_mode_operators.py
Due: nbstripout, black

Bump version: 0.6.7 → 0.6.8
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

update meshing comparison
  .gitignore
  tests/nbs/meshing_comparison.ipynb
Due: nbstripout

Deploying to pages from @ flaport/meow@1af6b5ec4f86c50befb07e93b4787934b5d1afa0 🚀
  _images/109534b02703482dd05bf0ca13b9f17025d209ceb4cb09cb2e35546820996697.png
  _images/116db7ba496c21bf23a6088984206745a16373196ae1317544971c272aae552c.png
  _images/20bedca42eb5de7a9c02ced89e9f839f98b7ec7f4b1834e1405d3d37a2a139b4.png
  _images/2f248cb45587a665c05c558f8651561fa28db1ec37ab95a2217ec0b1d4ddcb79.png
  _images/605ced4c5f464c4fe5a207c28d29d63941b9fd3ded92390ba1787991f4a366d5.png
  _images/740601b81be6f8e18befe368dcad69ff67dbc5acf4806273cf2e8fbcd714821f.png
  _images/93d1d8b51c5e1453f1144f4649341a2962b407adf2388ddb28c83ae1674704d9.png
  _images/a16a95917d66e0b0c88d423e123a8d9364d429c0909cd17ea5e2ee9374c1a38e.png
  _images/a75fa4f5e9a79033b0d419f5cc9a9f29a650522ca4fccd97b1882c49c2bf4284.png
  _images/af2141d2d97c73db060e6aa84738ffd6663209b33e9ad0a54839453de6a14905.png
  _images/e7c89382e37c085a2f254febbcf911226411e659f7754b8f514674763e77becf.png
  _images/f353698c2084a5b7c765f675420dc05a865a94ed4cc3e4dcba5b2cdfa62d1e5e.png
  _sources/examples/00_introduction.ipynb
  _sources/examples/01_gds_taper.ipynb
  _sources/examples/02_taper_length_sweep.ipynb
  _sources/examples/03_unequal_number_of_modes.ipynb
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_unequal_number_of_modes.html
  searchindex.js
Due: nbstripout

add ez_boundaries option to create_cells function
  meow/cell.py
Due: black

Bump version: 0.6.8 → 0.6.9
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  meow/__init__.py
  pyproject.toml
Due: black

patch problem with complex index in `te_fraction`
  meow/mode.py
Due: black

removed lines without effect
  meow/eme/sax.py
  meow/geometries.py
Due: black

remove unused line
  meow/eme/sax.py
Due: black

Try to make ports work with structures. Still some problems with __eq__
  meow/eme/sax.py
  meow/fde/tidy3d.py
  meow/port.py
  meow/structures.py
  tests/nbs/mmi.ipynb
Due: nbstripout, black

Hack to correct `__eq__` of models with `_array`s
  meow/base_model.py
  meow/port.py
  tests/nbs/mmi.ipynb
Due: nbstripout, black

Update tidy3d.py to ignore eps spec
  meow/fde/tidy3d.py
Due: black

fix syntax error
  meow/fde/tidy3d.py
Due: black

Naive Caching(Will Die By New Crosssections)
  meow/cross_section.py
  meow/eme/propagate.py
  meow/fde/tidy3d.py
  tests/nbs/mmi.ipynb
Due: nbstripout, black

repair mmi test
  tests/nbs/mmi.ipynb
Due: nbstripout

add 2D geometries
  meow/geometries.py
  meow/mesh.py
  meow/structures.py
Due: black

deprecate Mesh2d in favor of Mesh2D
  meow/cell.py
  meow/mode.py
Due: black

Structure -> Structure3D, Structure2D
  meow/cell.py
  meow/fde/lumerical.py
  meow/gds_structures.py
  meow/geometries.py
  meow/materials.py
  meow/mesh.py
  meow/structures.py
  meow/visualize.py
Due: black

improve cell to be able to handle 2D structures
  meow/cell.py
  meow/structures.py
Due: black

Path conditions:
  nbstripout: any of: \.ipynb$
  black: any of: \.py$
