Repository flaport/meow: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: nbstripout
    name: nbstripout
    entry: nbstripout
    language: python
    pass_filenames: true
    types: [jupyter]

  - id: black
    name: black
    entry: black
    language: python
    pass_filenames: true
    types: [python]

Deploying to pages from @ flaport/meow@cfcb51b6259a1adb45dfc1a34d9c3ddc0afb5a50 🚀
  _images/2ff0f5dc4a60e4e1bf156b97d9a409b1101d8de5a97004204af0e0de04929174.png
  _images/43d93c03d0c7afcebaddfb638af028afa1429a54c6df2c3a649d95944c93820b.png
  _images/49b59566204b012b458f496dfa5a65087604beaa68aa5d2849de04138791ac34.png
  _images/b2600e3f668d5c60795d0a3f32e26538a89eaf8f9fe1d033f5c9723f47b5ba56.png
  _images/bb34660d30b403d36379291d0f76401fcd5978f5e5f45badf7335aed3e3eada5.png
  _images/c03face1da63ada3042f907b4c1380139c774e7d4924618835fa54f3bba1a953.png
  _images/cc5fe09afa3dfe23ee830fd7bcfb2049a4b1c9a11f2f32899afdc3c762f7a94e.png
  _images/e2c6058f9a61e7a3c7713646690c803d8242fab17b525ceebcc4cb8c885c4cdf.png
  _modules/meow/base_model.html
  _modules/meow/eme/sax.html
  _modules/meow/materials.html
  _modules/meow/mode.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  searchindex.js
Due: none

pin tidy3d to version > 2
  README.md
  environment.yml
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  examples/02_taper_length_sweep.ipynb
  pyproject.toml
Due: nbstripout

Bump version: 0.1.4 → 0.1.5
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@22f390afdfe0549e4fc5d5e7c37f58d0187a17c5 🚀
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  index.html
  searchindex.js
Due: none

clean up dependencies
  .gitignore
  README.md
  environment.yml
  examples/00_introduction.ipynb
  examples/01_gds_taper.ipynb
  meow/__init__.py
  pyproject.toml
Due: nbstripout, black

Bump version: 0.1.5 → 0.2.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@8407840ab025f450e8817547010bb2765af2bec7 🚀
  _images/49b59566204b012b458f496dfa5a65087604beaa68aa5d2849de04138791ac34.png
  _images/5a1d6dd3b944744086f2c873fb432b0339975efe70cc2deb930fbfb711a7f2d3.png
  _images/b2600e3f668d5c60795d0a3f32e26538a89eaf8f9fe1d033f5c9723f47b5ba56.png
  _images/caefae529b11bc146fc7d6a0c6f73ab250bdd32e9dc4f5231e3e00a3e42e3c8b.png
  _images/cc5fe09afa3dfe23ee830fd7bcfb2049a4b1c9a11f2f32899afdc3c762f7a94e.png
  _images/d2cd3cba63fd1ee4605dba162296a5dced02d7a24e5bd61a3eb042c3b5a5cb42.png
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  index.html
  searchindex.js
Due: none

fix checks in meow.fde.lumerical
  meow/fde/lumerical.py
Due: black

make matplotlib and trimesh kind-off optional dependencies
  README.md
  meow/cell.py
  meow/cross_section.py
  meow/eme/sax.py
  meow/geometries.py
  meow/integrate.py
  meow/materials.py
  meow/mode.py
  meow/structures.py
  meow/visualize.py
  pyproject.toml
  tests/test_deserialization.py
Due: black

Bump version: 0.2.0 → 0.3.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@a84e5376a0f292eb725d8bc03c952e3ab4d33d66 🚀
  _images/49b59566204b012b458f496dfa5a65087604beaa68aa5d2849de04138791ac34.png
  _images/5a1d6dd3b944744086f2c873fb432b0339975efe70cc2deb930fbfb711a7f2d3.png
  _images/b2600e3f668d5c60795d0a3f32e26538a89eaf8f9fe1d033f5c9723f47b5ba56.png
  _images/caefae529b11bc146fc7d6a0c6f73ab250bdd32e9dc4f5231e3e00a3e42e3c8b.png
  _images/cc5fe09afa3dfe23ee830fd7bcfb2049a4b1c9a11f2f32899afdc3c762f7a94e.png
  _images/d2cd3cba63fd1ee4605dba162296a5dced02d7a24e5bd61a3eb042c3b5a5cb42.png
  _modules/meow/cell.html
  _modules/meow/cross_section.html
  _modules/meow/eme/sax.html
  _modules/meow/fde/lumerical.html
  _modules/meow/geometries.html
  _modules/meow/integrate.html
  _modules/meow/materials.html
  _modules/meow/mode.html
  _modules/meow/structures.html
  _modules/meow/visualize.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  index.html
  searchindex.js
Due: none

propagations should not take absolute value
  meow/eme/common.py
Due: black

Bump version: 0.3.0 → 0.3.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

slightly clean up compute_s_matrix_sax
  meow/eme/sax.py
Due: black

Bump version: 0.3.1 → 0.3.2
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@f048af18036f81930a53b9f1102b7a2a829b4301 🚀
  _modules/meow/eme/common.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  searchindex.js
Due: none

Deploying to pages from @ flaport/meow@fd8f5bc3b6de1df23701f71a6ab8465e53080608 🚀
  _modules/meow/eme/sax.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  searchindex.js
Due: none

improve extrusions
  examples/01_gds_taper.ipynb
  examples/02_taper_length_sweep.ipynb
  meow/geometries.py
Due: nbstripout, black

Bump version: 0.3.2 → 0.3.3
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@168ab17e05e0dc981337942ad49e01ba66083764 🚀
  _modules/meow/geometries.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  searchindex.js
Due: none

Fill in zero valued off-diagonal epsilon
  meow/fde/tidy3d.py
Due: black

Add packaging dependency
  pyproject.toml
Due: none

Check tidy3d Version
  meow/fde/tidy3d.py
Due: black

Misspelled version
  meow/fde/tidy3d.py
Due: black

Bump version: 0.3.3 → 0.3.4
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@ccce20eca93b1b0b32f8ecf209d871bbb21a2c2a 🚀
  _modules/meow/fde/tidy3d.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  searchindex.js
Due: none

Deploying to pages from @ flaport/meow@a50f5e9938ceb7a1245fd33371d286f7a33eaf7d 🚀
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  searchindex.js
Due: none

Convenience functions for Mode arithmetics
  meow/mode.py
  tests/test_mode_operators.py
Due: black

Allow interface matrix calc for diff num of modes
  meow/eme/common.py
Due: black

make eme work with unequal number of modes in each slice
  examples/03_non_square.ipynb
  meow/eme/sax.py
  meow/fde/tidy3d.py
  meow/mode.py
  tests/test_mode_operators.py
Due: nbstripout, black

Bump version: 0.3.4 → 0.3.5
  .bumpversion.cfg
  .github/workflows/publish.yml
  meow/__init__.py
  pyproject.toml
Due: black

Deploying to pages from @ flaport/meow@c262ec37043f5c29db828fb6ba498f6d7b5511b4 🚀
  _images/0786dd9b108d25c18c9443d78623f512ce29e7038c2fa6c5f331b89311d5be80.png
  _images/2b167e95c8eaaa6a429636c17a4e6902b310bc86b6f87b7adca48c226dd014b4.png
  _images/43d93c03d0c7afcebaddfb638af028afa1429a54c6df2c3a649d95944c93820b.png
  _images/49b59566204b012b458f496dfa5a65087604beaa68aa5d2849de04138791ac34.png
  _images/56efe2af65ce9637176f042b41b073c4da2f33baf7424e019cc022b9b9b54cb6.png
  _images/597051bd5bc2af38b353891c4749aaa6ef2b108643f1a30bc444825638c2b046.png
  _images/5c7c135d5f2761a09c15ea909f61f1670f0ef3a517b4e705fdf69c76b478c56d.png
  _images/6a9ce1f57f9b0138a29e97ce7b3dafc8efa15004183ff8469b29948030e77c29.png
  _images/72ad770bdcf455cc24a59fe840225fc23772de343210dc5793f65ebd95109f57.png
  _images/87e0e712db124536ddf79a287ff949c2fe0a67ea5fed420f25532b0af4daab5b.png
  _images/b18c780f5fc1dd9dc25e814fc455dcd2470dc61fca6ca1fdd12ce36ae563d27b.png
  _images/b2600e3f668d5c60795d0a3f32e26538a89eaf8f9fe1d033f5c9723f47b5ba56.png
  _images/c69858084e870fa663146471ded59fc789e8d638fcd03f5df5bc15bfa21c2958.png
  _images/cc5fe09afa3dfe23ee830fd7bcfb2049a4b1c9a11f2f32899afdc3c762f7a94e.png
  _images/ddd5089fdcc1e5820ee2edccefce8018091cdb4349e911c41e591ea2e15266ec.png
  _images/e847b2244e4b7efd1af40cbe82e1bdc5f5cd97757d7286b11f7a8b8644db9c39.png
  _images/ee7f0f3b2ad602b2f3b2060ba9c1340465e12965b5b95bb7ed1e8480fdcd8d0b.png
  _modules/meow/eme/common.html
  _modules/meow/eme/sax.html
  _modules/meow/fde/tidy3d.html
  _modules/meow/mode.html
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  _sources/examples/03_non_square.ipynb.txt
  examples/00_introduction.html
  examples/02_taper_length_sweep.html
  examples/03_non_square.html
  objects.inv
  searchindex.js
Due: none

Correct Typo `i->j`
  meow/mode.py
Due: black

Deploying to pages from @ flaport/meow@4015b1a4a37b01f55549644048495df681ba3263 🚀
  _images/0aa1cb29fcf3e2c1fc7057f0dc034423eb885be6a6f2e40cec7fef7cbd41ba4f.png
  _images/2b167e95c8eaaa6a429636c17a4e6902b310bc86b6f87b7adca48c226dd014b4.png
  _images/384449986fdf8165fd369cf558541009698efb9b34397227f61ba0f4e4112e8d.png
  _images/4412096b053905da3b22bda06915f2852724c585b6b488e6a8637a3118257240.png
  _images/47e0fa968b1005a02ca8145e6d1ac683e7290a2c8158d16f9e68292e3b5aee0f.png
  _images/5790dd6e5c8f6cd44029eaee59d1accd7f73324febfecde0de92264c2b761c0a.png
  _images/597051bd5bc2af38b353891c4749aaa6ef2b108643f1a30bc444825638c2b046.png
  _images/5c7c135d5f2761a09c15ea909f61f1670f0ef3a517b4e705fdf69c76b478c56d.png
  _images/6a9ce1f57f9b0138a29e97ce7b3dafc8efa15004183ff8469b29948030e77c29.png
  _images/87e0e712db124536ddf79a287ff949c2fe0a67ea5fed420f25532b0af4daab5b.png
  _images/b18c780f5fc1dd9dc25e814fc455dcd2470dc61fca6ca1fdd12ce36ae563d27b.png
  _images/ddd5089fdcc1e5820ee2edccefce8018091cdb4349e911c41e591ea2e15266ec.png
  _images/fdbf959a64e1c4fc383552e08a1df819c9b96bf24c3e4da1ba7ede2fbc651af3.png
  _images/fff788589fa041d1e25cfe24eeffdcc25134b6293e50ffcc8e6865b8a0ea6eb6.png
  _modules/meow/mode.html
  _sources/examples/00_introduction.ipynb.txt
  _sources/examples/01_gds_taper.ipynb.txt
  _sources/examples/02_taper_length_sweep.ipynb.txt
  _sources/examples/03_non_square.ipynb.txt
  examples/00_introduction.html
  examples/01_gds_taper.html
  examples/02_taper_length_sweep.html
  examples/03_non_square.html
  searchindex.js
Due: none

update docs
  .bumpversion.cfg
  .github/workflows/main.yml
  docs/source/conf.py
  docs/source/examples.md
  docs/source/index.md
  docs/source/meow.rst
  examples/02_taper_length_sweep.ipynb
  examples/03_unequal_number_of_modes.ipynb
Due: nbstripout, black

just use condaforge/mambaforge container for workflows
  .github/workflows/main.yml
Due: none

fix github workflows
  .github/workflows/main.yml
  pyproject.toml
Due: none
